body {
  background-color: #0B2434;
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: #0B2434 solid 5px;
  margin: 3.5rem auto;
  background: #F5F5F5;
  border-radius: 10px;
  max-width: 30rem;
  height:28.125rem;
  
}

.grid-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  grid-gap: 1.6rem;
  margin: 0 auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 3.75rem;
  max-height:3.75rem;
  min-width: 3.2rem;
  min-height: 3.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3.81277px;
  cursor: pointer;
}
.grid-item-num{
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.125rem;
}

.butt-roll{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  width: 120px;
  height: 50px;
  background: #5035FF;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  cursor: pointer;
}
.butt-roll-text{
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 2.1rem;
  /* line-height: 25px; */
  
}



.butt-roll:active {
  box-shadow: inset 5px 5px 10px -4px rgba(0, 0, 0, 0.8);
}